# =====================
# Python
# =====================

__pycache__/
*.py[cod]
*.pyo


# =====================
# Environment
# =====================

.venv/
.env


# =====================
# Data
# =====================

# Raw datasets downloaded externally
data/raw/
# Processed datasets
data/processed/


# =====================
# Model files
# =====================

# Model weights
*.safetensors
*.bin

# Checkpoints
checkpoints/
models/


# =====================
# Experiment outputs
# =====================

# Training outputs, adapters, checkpoints
results/

# Logs
logs/
runs/

# Experiment tracking
wandb/


# =====================
# Notebook
# =====================

.ipynb_checkpoints/


# =====================
# OS / IDE
# =====================

.DS_Store
Thumbs.db

.vscode/
.idea/